h3.inner #{actitity_count} records found
  - if (pagination)
    != partial('pagination', pagination)

.activity_wrapper
  ul.activities.clearfix
    each activity in activities
      li.activity.bubble.hidden(
        id='activity-' + activity.code, 
        data-name=activity.name,
        data-value=activity.value
      )
        .outline
        .inner
          a.content
            p.text.hidden= activity.name.replace("\n", "")

nav.foot
  a(href='#data_file') 
    img.button(src='/images/data_file_button.png')
  a.xhr(href='/list') 
    img.button(src='/images/map_button.png')
  a.xhr(href='/list', data-history='{"enter":"slideUp"}') 
    img.button(src='/images/list_button.png')

script
  inlines.push(function() {
    Math.seedrandom($('.activities').map(function() { return $(this).attr("id"); }).toArray().join(""));
    $('.activities').bubbleLayout({palette: palette, layout: 'pack', diameter: {min: 100, max: 250}});
    $('a.area_filter').attr('href', "#{url_with('/filter/Region')}");
    $('a.funder_filter').attr('href', "#{url_with('/filter/Funder')}");
    $('a.sector_filter').attr('href', "#{url_with('/filter/SectorCategory')}");
  });