section.activity.slide-panel.clearfix  
  // the params for adding this activity to the dashboard
  - dashParams = JSON.stringify({href:url_with(false,{view:'embed'}), type:'embed', key:'activities', subkey:false})
  aside
    ul
      li: a.icn.favourite(href='#', data-dash=dashParams) Save to my dashboard        
      li: a.icn.print(href="#") Print
      li: a.icn.pdf(href="#") PDF
      li: a.icn.csv(href="#") CSV
      
    - documents = activity.documents()
    h3 Related documents
    - if (documents.length > 0)
      ul.related
        each document in activity.documents()
          li: a.icn.doc(href=document.url)= document.title
    - else
      p No related documents found.
      
  div.main
    h1 Activity: #{activity.title()} (#{activity.funderName() || "Unknown"})
    
    table.headline
      tr
        th Total budget:
        - budget = format_value(total_budget)
        td #{budget.sign}$<strong>#{budget.value}</strong> #{budget.unit}#{estimated ? "*" : ""}
      - if (estimated)
        tr
          td(colspan='2').note *estimated from commitments
      tr
        th Allocated to date:
        - spend = format_value(allocated)
        td #{spend.sign}$<strong>#{spend.value}</strong> #{spend.unit}


    .third.left
      .widget(data-iframe=partial('embed_widget', {locals: {frame_url: url_with('/widgets/project_description', {ID: activity.id()}), links: true, padding: 0, width: 210}}))
    .third.left
      .widget(data-iframe=partial('embed_widget', {locals: {frame_url: url_with('/widgets/participating_organisations', {ID: activity.id()}), links: true, padding: 0, width: 210}}))
    .third.left
      .widget(data-iframe=partial('embed_widget', {locals: {frame_url: url_with('/widgets/project_sectors', {ID: activity.id()}), links: true, padding: 0, width: 210}}))
    .third.left
      .widget(data-iframe=partial('embed_widget', {locals: {frame_url: url_with('/widgets/project_map', {ID: activity.id()}), links: true, padding: 0, width: 210}}))
    .two_thirds.left
      .widget(data-iframe=partial('embed_widget', {locals: {frame_url: url_with('/widgets/funding_breakdown', {ID: activity.id()}), links: true, padding: 0, width: 210}}))


script
  inlines.push(function(){
    $(".widget", this).each(function() {
      var iframe = $(this).data("iframe");
      if (iframe) { $(this).html(iframe); }
    });
  
    contentExit = function(){
      return $('#content_inner').deferredAnimate({marginTop:600}, function(){
        $(this).empty().css({marginTop:0});
      });
    };
    $('.favourite').favourite();
    new Scroller($('section.slide-panel').get(0))
  });
