// render the query state
//
  h3
    each item, name in query
      span
        = name + '=' + item + '; '


h3.inner #{actitity_count} records found
  - if (pagination)
    != partial('pagination', pagination)

.activity_wrapper
  ul.activities.clearfix
    each activity in activities
      li.activity.hidden(
        id='activity-' + activity.code, 
        data-name=activity.name,
        data-value=activity.value
      )
        .outline
        .inner
          a.content
            p.text.hidden= activity.name