-if(!largeQuery)
  nav.sorting
    | Arrange By:
    a(href=url_with(false,{orderby:'value'}), 
      class="xhr funding" + (query.orderby == 'value' ? ' active' : ''),
      data-history='{"enter":"slideUp"}')
      span Funding Size 
    a(href=url_with(false,{orderby:'name'}), 
      class="xhr az" + (query.orderby == 'name' ? ' active' : ''),
      data-history='{"enter":"slideUp"}')
      span A-Z 

section.slide-panel.clearfix
  aside
    ul
      // li: a.icn.favourite(href="#") Save to my dashboard
      li: a.icn.print(href="javascript:window.print()") Print
      li: a.icn.pdf(href="#") PDF
      li: a.icn.csv(href="#") CSV

  div.main
    h1.left Results viewed as a list
    
    h3.right #{activity_count} activities found
      - if (pagination)
        != partial('pagination', pagination)
  
    table.full
      each activity in activities
        tr 
          td.name 
            a.xhr.content(href='/activity/' + activity.id(), data-history='{"enter":"slideUp"}')
              = activity.title()
          td.funder
            a.xhr.content(href='/activities?Funder=' + activity.funderIds(), data-history='{"enter":"slideUp"}')
              = activity.funderName()
          td.value= to_currency(activity.value())

nav.foot!= partial('activities-nav', {dataFile: !largeQuery})

script
  inlines.push(function() {
    $("a", this).click(function() {
      if ($(this).is(".page")) contentExit = false;
      else {
        contentExit = function() {
          return $('#content_inner').deferredAnimate({marginTop:600}, function(){
            $('section.slide-panel', this).remove();
            $(this).css({marginTop:0});
          });
        }
      }
    });
    
    new Scroller($('section.slide-panel').get(0));
  });