nav.sorting
  | Arrange By:
  a(href=url_with(false,{orderby:'value'}), 
    class="xhr funding" + (query.orderby != 'name' ? ' active' : ''),
    data-history='{"enter":"slideUp"}')
    span Funding Size 
  a(href=url_with(false,{orderby:'name'}), 
    class="xhr az" + (query.orderby == 'name' ? ' active' : ''),
    data-history='{"enter":"slideUp"}')
    span A-Z 

section.slide-panel

  aside
    ul
      li: a.icn.save(href="#") Save to my favourites
      li: a.icn.print(href="#") Print
      li: a.icn.pdf(href="#") PDF
      li: a.icn.csv(href="#") CSV

  div.main
  
    h1 Results viewed as a list
  
    table.full
      each activity in activities
        tr 
          td.name 
            a.xhr.content(href='/activity/' + activity.code, data-history='{"enter":"slideUp"}')
              = activity.name
          td
           = to_currency(activity.value)

    script
      inlines.push(function(){
        contentExit = function(){
          return $('#content_inner').deferredAnimate({marginTop:600}, function(){
            $(this).empty().css({marginTop:0});
          });
        }
      });
    