section.data_file.slide-panel.clearfix
  h1.title Data file: #{keys.join(' + ')}
  .third.left
    .summary.section
      table.full
        tr
          - budget = format_value(total_budget)
          td Total budget:
          td!= "$<strong>"+budget.value+"</strong> "+budget.unit
        tr
          - spend = format_value(total_spend)
          td Total spend to date:
          td!= "$<strong>"+spend.value+"</strong> "+spend.unit
        tr
          td Total activities:
          td!= "<strong>"+activity_count+"</strong>"
  .third.right
    .links.section.left
      - dashParams = JSON.stringify({href:url_with(false,{view:'embed'}), type:'embed', key:'datafiles'})
      a(href='#', data-dash=dashParams)
        img(src='/images/sprites/save.png')
        | Save to my dashboard
      a(href='')
        img(src='/images/sprites/print.png')
        | Print
      a(href='')
        img(src='/images/sprites/pdf.png')
        | PDF
      a(href='')
        img(src='/images/sprites/csv.png')
        | CSV
  .clear
  .third.left
    .widget!= partial('embed_widget', {locals: {url: url_with('/widgets/new_projects'), links: true, padding: 0}}) 
  .third.left
    .widget!= partial('embed_widget', {locals: {frame_url: url_with('/widgets/donors'), links: true, padding: 0}})
  .third.left
    .widget!= partial('embed_widget', {locals: {frame_url: url_with('/widgets/sectors'), links: true, padding: 0}})
  .third.left
    .widget
      h3 Aid type breakdown:
  .third.left
    .widget
      h3 Regional allocations:
  .third.left
    .widget
      h3 Funding breakdown:

script
  inlines.push(function(){
    contentExit = function(){
      return $('#content_inner').deferredAnimate({marginTop:600}, function(){
        $(this).empty().css({marginTop:0});
      });
    };
    new Scroller($('section.slide-panel').get(0))
  });