div.filter
  h2 Filter by #{key}
  
  form.filter(action='/activities')          
    ul.choices.clearfix
      each choice in choices
        li.choice.bubble(
          id='choice-' + choice.code, 
          data-name=choice.name, data-value=choice.value, data-colour=''
        )
          .outline
          .inner
            a.content(href=choice.code)
              p.text.hidden= choice.name + " \n $123b \n " + choice.count + " projects"

script
  inlines.push(function(){
    var notEmpty = function() { return $(this).text() !== ""; }
    $('.choices').bubbleLayout({
      palette: palette, layout: 'list', diameter: {min: 130, max: 200},
      afterFit: function() {
        var textLines = $(this).children().filter(notEmpty).toArray();
        $(textLines.slice(-2)).addClass("small");
      }
    });
  });