div.filter

  h2 filter: #{key}
  
  form.filter(action='/activities')
    each value in values
      li
        label
          #{value.code} : #{value.name || 'null'}
          input(type='checkbox', name=key, value=value.code)

    input(type='submit')