.filter
  h2 Filter by #{key}

  .choices_wrapper
    ul.choices.clearfix
      each choice in choices.slice(0, 30)
        li.choice.bubble(
          id='choice-' + choice.code, 
          data-name=choice.name, data-value=choice.value, data-colour=''
        )
          .outline
          .inner
            - var query = {};
            - query[key] = choice.code
            a.content.xhr(href=url_with('/activities', query))
              p.text.hidden= choice.name + " \n $123b \n " + choice.count + " projects"

script
  inlines.push(function() {
    var wrapper = $(".choices_wrapper");
    wrapper.width($("#content").width()).height($("#content").height() - 230);
    var container = wrapper.children(".choices");
    var activities = container.children(".choice");
    var content = activities.find(".content");
    
    Math.seedrandom($('.choices').map(function() { return $(this).attr("id"); }).toArray().join(""));
    $('.choices').bubbleLayout({
      palette: palette, layout: 'list', font: {min: 9, max: 25}, diameter: {min: 130, max: 250},
      afterFit: function() {
        var notEmpty = function() { return $(this).text() !== ""; }
        var textLines = $(this).children().filter(notEmpty).toArray();
        $(textLines.slice(-2)).addClass("small");
      }
    });
    wrapper.activityZoom({
      transition2d: true,
      afterZoom: function(zoom, zoomed) {
        var min = Math.round(9 / zoom);
        var filter = zoomed > 0 ? ".truncated" : function() { return parseInt($(this).css("font-size"), 10) < min; };
        content.filter(filter).fitText('circular', {font: {min: min, max: 25}});
      },
      onResize: function() {
        wrapper.width($("#content").width()).height($("#content").height() - 230);
      }
    });
  });