!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/boilerplate.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body#body
    #content
      #content_inner!= body
    #header
      .left_corner.corner
      .centre
      .right_corner.corner
      a(href=filter_paths.sector).sector_filter.filter
        img(src='/images/sector_filter_text.png').text
        img(src='/images/sector_filter.png').button
        
    #footer
      .left_corner.corner
      .centre
      .right_corner.corner
      a(href=filter_paths.funder).funder_filter.filter
        img(src='/images/funder_filter.png').button
        img(src='/images/funder_filter_text.png').text.left
      a(href=filter_paths.area).area_filter.filter
        img(src='/images/area_filter.png').button
        img(src='/images/area_filter_text.png').text.right
    #popup.hidden
    #scripts.hidden
      script(src='/javascripts/jquery.js')
      script(src='/javascripts/jquery.form.js')
      script(src='/javascripts/app.js')