!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/boilerplate.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  script
    window.inlines = [];
  body#body
    #content
      #content_inner.clearfix!= body
    #header
      .left_corner.corner
      .centre
      .right_corner.corner
      a.sector_filter.filter.xhr(href=url_with('/filter/SectorCategory'))
        img.text(src='/images/sector_filter_text.png')
        img.button(src='/images/sector_filter.png')
      .main_navigation
        a(href='/') 
          img.button(src='/images/home_button.png')
        a(href='javascript:history.back()') 
          img.button(src='/images/back_button.png')
        a(href='#favourites') 
          img.button(src='/images/favourites_button.png')
    #footer
      .left_corner.corner
      .centre
      .right_corner.corner
      a.funder_filter.filter.xhr(href=url_with('/filter/Funder'))
        img.button(src='/images/funder_filter.png')
        img.text.left(src='/images/funder_filter_text.png')
      a.area_filter.filter.xhr(href=url_with('/filter/Region'))
        img.button(src='/images/area_filter.png')
        img.text.right(src='/images/area_filter_text.png')
    #popup.hidden
    #dimmer
    #embed.hidden
      .widget
      .links
        h2 Add this to your website:
        p Copy and paste embed code
        h2 Link to this:
        p Copy and paste
        
    #scripts.hidden
      each script in clientScripts
        script(src='/javascripts/'+script)
